*.ini
*.ini
**/.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Rise-of-Nations/v15/.suo
TODO.txt
TODO.todo
*.DS_Store
